.container {
    width: 100%;
    height: calc(100vh - 14px)
}

#waves {
    transform: rotate(180deg);
    background-color: #002060
}


.smallWaves {
    position: sticky;
    height: 200px;
}


.milkWave {
    z-index: 2;
    width: 100%;
    top: 4px;
    position: relative;
    content: "";
    pointer-events: none;
    background-position: bottom;
    background-origin: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(https://2021.igem.org/wiki/images/5/5b/T--Greece_United--wave.svg);
    height: 350px
}

.milkWave.rotate-wave {
    transform: rotate(180deg);
    top: -4px;
}

.milkWave svg {
    height: 350px;
}

.milkWave.small {
    position: absolute;
}

