html, body{
    height:100%;
    padding:0px;
    margin:0px;

    font-family: 'Lato', sans-serif;;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  /* -------------- NAVBAR ------------ */
  
  .navbar {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; /* Hide overflow */
    background-color:#0B3648;/*#0E828A/* #333; /* Dark background color */
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .right-navbar {
    align-self:flex-end;
    overflow: hidden; /* Hide overflow */
    margin-left: auto;
    margin-right: 15px;
  }
  
  /* Style the navigation bar links */
  .right-navbar a {
    float: right; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
    font-size: 1.2em;
    overflow: hidden;
  }
  
  #nav {
    display: flex;
    flex-direction: row;
    list-style: none inside;
    margin: 0;
    padding: 0;

  }
  
  #nav li {
    display: block;
  }
  
  #nav li li a {
    font-size: 90%;
  }
  
  #nav ul {
    padding: 0;
    display: none;

  }
  
  #nav li:hover ul {
    display: block;
  }
  
  .right-navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
  }
  
  /* responsive/collapsible nav bar */
  .right-navbar .icon {
    display: none;
  }
  
  .nav-bar-logo {
    padding: 14px 20px; /* Add some padding */
    display: flex;
  }
  
  .nav-bar-logo a{
    font-weight: 400;
    font-size: 1.4em;
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
  }

  .logo {
    position: relative;
    height: 25px;
    width: 25px;
    background: url("../images/black_logo_transparent.png");
    background-size: cover;
    margin: 0 5px;
  }
 
  
  /* ------------FOOTER-------------*/
  footer {
    background: #0B3648; /* Grey background */
    padding:40px 0;
    color: white;
    height: 300px;
    width: 100%;
    position:relative;
  }
  
  .footer-content{
    max-width: 1170px;
    margin:auto;
    height:250px;
    display:flex;
  }
  
  .footer-section{
    flex:1;
    padding:25px;
  }
  
  .footer-section .about h4{
    color:white;
  }
  
  .row{
    display:flex;
    flex-wrap:wrap;
  }
  
  .col{
    width:33%;
    padding: 0 15px;
  }
  
  .col h4{
    font-size:18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position:relative;
  }
  
  .col h4::before{
    content:'';
    position:absolute;
    left:0;
    bottom:-10px;
    background-color:rgb(199, 169, 190);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-about{
    color: #bbbbbb;
  }
  
  ul{
    list-style: none;
  }
  
  .col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  
  .col ul li span{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration:none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
  }
  
  .social-links a{
    display: inline-block;
    height:40px;
    width:40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align:center;
    line-height:40px;
    border-radius: 50%;
    color:#ffffff;
    transition: all 0.5s ease;
  }
  
  .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }

  .social-links .fb a:hover{
    color: #a53b28;
    background-color: #ffffff;
  }
  
  .footer-section .contact-info{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
  }
  
  
  
  /*--responsive--*/
  @media(max-width:767px){
    .col{
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media(max-width:574px){
    .col{
      width: 100%;
    }
  }
  
  /*---------FOOTER END------------*/
  
  
  .main-text-home {

    background-color: #0b3648d0;
    color: white;
    width: 800px;
    padding: 50px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 25px;
}



.container {
  padding: 16px;
}

.description-container{
  max-width: 800px;
  margin:40px auto 20px;
}

.description-container p{
  text-align:justify;
}

.description-container-text{
  margin-top:10px;
}

.description-container .image{
  max-width: 150px;
}

.description-container .image.right{
  float:right;
  margin-left: 30px;
  margin-bottom:10px;
  margin-top:10px;
  border-radius: 7px;
}

.description-container .image.left{
  float:left;
  margin-right: 30px;
  margin-bottom:10px;
  margin-top:10px;
  border-radius: 7px;
}

.container-title {
  margin-bottom: 5px;
}

hr {
  height: 2px;
  background-color: #0b3648d5;
  border-radius: 7px;
}


.home-section{
  background-color: #0b36483a;
}

.after-nav{
  margin-top: 90px;
}

#page-view {
  width: 100%;
  height: 60vh;
  /* TODO : change picture */
  background-image: url("../images/mitosis.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#title{
  color: white;
  font-weight: bold;
  font-size: 3em;
  align-self: center;
}

.section-title{
  align-self: center;
}


.section-about{
  background-color: #0b3648d0;
}

.section-osteo{
  background-color: #0b3648;
}

.section-calc{
  background-color: #0b3648d0;
}

.section-sposnor{
  background-color: #0b3648d0;
}