/* https://2021.igem.org/Template:Greece_United/CSS_NavBar */

/* Navigation Bar */
/* -------------- NAVBAR ------------ */
.right-navbar {
    align-self: flex-end;
    /* overflow: hidden;  */
    margin-left: auto;
    margin-right: 15px;
}

/* Style the navigation bar links */
.right-navbar a {
    float: right;
    /* Make sure that the links stay side-by-side */
    display: block;
    /* Change the display to block, for responsive reasons (see below) */
    color: white;
    /* White text color */
    text-align: center;
    /* Center the text */
    padding: 14px 20px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline */
    font-size: 1.2em;
    /* overflow: hidden; */
}

#nav {
    display: flex;
    flex-direction: row;
    list-style: none inside;
    margin: 0;
    padding: 0;
}

#nav li {
    display: block;
}

#nav li li a {
    font-size: 90%;
}

#nav ul {
    padding: 0;
    display: none;

}

#nav li:hover ul {
    display: block;
}

.right-navbar a:hover,
.dropdown:hover {
    background-color: #B7E0FF;
    /* Grey background color */
    color: #002060;
    /* Black text color */
}

/* Header */
.circles {
    background-image: url("https://2021.igem.org/wiki/images/1/16/T--Greece_United--header.png");
    background-size: cover;
    opacity: 80%;
    margin: 0;
    width: 100%;
    background-repeat: no-repeat;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B7E0FF;
    opacity: 80%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-content a {
    float: none;
    color: #002060;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #5893D4;
    color: #002060;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #B7E0FF;
    opacity: 80%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown2-content a {
    float: none;
    color: #002060;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown2-content a:hover {
    background-color: #5893D4;
    color: #002060;
}
.dropdown2:hover .dropdown2-content {
    display: block;
}

.right-navbar a:hover,
.dropdown2:hover {
    background-color: #B7E0FF;
    /* Grey background color */
    color: #002060;
    /* Black text color */
}


/* loader */
#loader-wrapper {
    display: flex;
    align-items: center;
    margin-top: calc((100%)/5);
    justify-content: center;
    height: 0.1vh;
    width: 100vw;
    z-index: 500;
    position: fixed;
    pointer-events: none;
}

#loader-bg {
    position: fixed;
    height: 200vw;
    width: 200vw;
    transform: translateY(0);
    background-color: #6C8EC9;
    transition-property: height, width, border-radius, transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.99, .05, .51, 1.01);
    transition-delay: 0s, 0s, 0s, 1s;
    border-radius: 0%;
    -webkit-box-shadow: 0px 0px 27px 0px #6E91CB;
    -moz-box-shadow: 0px 0px 27px 0px #6E91CB;
    box-shadow: 0px 0px 27px 0px #6E91CB;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


#loader-wrapper img {
    width: 30vh;

}

#loader-wrapper h1 {
    color: #fafafc;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    transform: translateY(15vh);
    font-size: 2.2vw;
    opacity: 100%;
}

#loader-bg.loaded {
    height: 35vh;
    width: 35vh;
    border-radius: 70%;
    transform: translateY(-2000px);
}