/* in page menu & progress bar */
/* progress bar */

#fixedOverlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 12;
    top: 18px;
    transition: 1s;
    font-family: 'Raleway', sans-serif;
    /* background-color: #002060; */
}

#fixedOverlay[bg=none],
#fixedOverlay[bg=dark] {
    pointer-events: none;
}

#fixedOverlay .scroll-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    opacity: 1;
    transition: 0.5s;
}

#fixedOverlay .scroll-wrapper .scroll-area {
    height: 100%;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    #fixedOverlay .scroll-wrapper .scroll-area {
        width: 10vw;
    }
}

#fixedOverlay .scroll-wrapper .scroll-area#sidebar-wrapper #scrollbar-container {
    width: 30%;
    height: 30%;
    background-color: rgba(98, 129, 239, 0.3);
    border-radius: 10px;
    max-width: 7px;
}

#fixedOverlay .scroll-wrapper .scroll-area#sidebar-wrapper #scrollbar-container #scrollbar {
    width: 100%;
    background: #002060;
    opacity: 100%;
    height: 0%;
    border-radius: 20px;
    transition: background-color 0.5s;
}

#fixedOverlay nav {
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
    display: block;
    transition: 0.5s;
    height: 87px;
}

/* in page menu */
.indexbutton {
    display: none;
    color: #FAFAFC;
    text-transform: capitalize;
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 16px 0;
    height: 62px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #6281EF;
    z-index: 21;
    transition: 0.5s;
}

@media (max-width: 800px) {
    .indexbutton {
        display: block;
    }
}

.sideBlock {
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    margin-left: 10vw;
    margin-top: 400px;
    position: -webkit-sticky;
    position: fixed;
    top: 30%;
    margin: 200px 32px 0 4vw;
    transform: translateY(-50%);
    min-width: 20px;
    max-width: 350px;
    background: #ffffff;
    opacity: 80%;
    border-radius: 15%;
    padding-left: 20px;
    z-index: 2;
}

@media (max-width: 1024px) {
    .sideBlock {
        margin: 200px 32px 0 4vw;
    }
}

.sideBlock b {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 0.25em;
    padding-bottom: 20px;
    display: block;
}

.sideBlock ul {
    margin: 1em 0;
    padding: 0;
}

.sideBlock a {
    color: #002060;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;

}

.sideBlock li {
    margin: 24px;
    list-style: none;
    color: #002060;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 0.25em;
}

.sideBlock li:last-child {
    margin-bottom: 0;
}

.sideBlock li div {
    max-width: 15px;
    max-height: 15px;
    box-sizing: border-box;
    border: 1px solid;
    color: #002060;
    border-radius: 2px;
    transition: 0.5s;
    margin-right: 8px;
    height: 10vw;
    width: 10vh;
}

.sideBlock li.active div {
    background-color: #002060;
}

@media (max-width: 800px) {
    .sideBlock {
        position: fixed;
        bottom: 0;
        padding: 0 64px;
        background-color: #6281EF;
        color: #FAFAFC;
        float: unset;
        margin: 0;
        z-index: 20;
        width: 100%;
        box-sizing: border-box;
        min-width: unset;
        max-width: unset;
        text-align: center;
        transition: transform 0.5s;
        top: unset;
        transform: translateY(calc(100% - 62px));
        display: fixed;
        flex-direction: column;
        align-items: center;
    }

    .sideBlock b {
        display: block;
        margin: 0;
    }

    .sideBlock ul {
        display: inline-block;
        text-align: start;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .sideBlock li {
        font-weight: bold;
    }

    .sideBlock li a {
        color: #FAFAFC;
    }

    .sideBlock li div {
        color: #FAFAFC;
    }

    .sideBlock li.active div {
        background-color: #FAFAFC;
    }

    .sideBlock.notshow {
        transform: translateY(calc(100% - 900px));
    }

    .sideBlock.open {
        transform: translateY(0);
    }
}



/* back to top */
#BacktoTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #B8EBFF;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 30%;
}

#BacktoTop:hover {
    background-color: #002060;
}