svg{
    z-index: -1;
    position: absolute;
}
#wrap {
    height:10vh;
}

.container {
    height: 1vh;

}
div {
    position: relative;
}
p {
    z-index: 10;
    position: relative;
    width: 300px;
    text-align: justify;
}

.p1{
    z-index: 10;
    position: relative;
    width: 300px;
    text-align: justify;
    left: 1000px;
}