/* -------------- NAVBAR ------------ */
html, body{
  height:100%;
  padding:0px;
  margin:0px;

  font-family: 'Lato', sans-serif;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  /* overflow: hidden;  */
  background-color:#002060;/*#0E828A/* #333; /* Dark background color */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.right-navbar {
  align-self:flex-end;
  /* overflow: hidden;  */
  margin-left: auto;
  margin-right: 15px;
}

/* Style the navigation bar links */
.right-navbar a {
  float: right; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  font-size: 1.2em;
  /* overflow: hidden; */
}

#nav {
  display: flex;
  flex-direction: row;
  list-style: none inside;
  margin: 0;
  padding: 0;
}

#nav li {
  display: block;
}

#nav li li a {
  font-size: 90%;
}

#nav ul {
  padding: 0;
  display: none;

}

#nav li:hover ul {
  display: block;
}

.right-navbar a:hover, .dropdown:hover{
  background-color: #B7E0FF; /* Grey background color */
  color: #002060; /* Black text color */
}

/* responsive/collapsible nav bar */
.right-navbar .icon {
  display: none;
}

.nav-bar-logo {
  padding: 14px 20px; /* Add some padding */
  display: flex;
  cursor: pointer;
}

.nav-bar-logo a{
  font-weight: 400;
  font-size: 1.4em;
  color: white; /* White text color */
  text-decoration: none; /* Remove underline */
  cursor: pointer;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 1.2em;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  z-index: 10;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #B7E0FF;
  opacity: 60%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: #002060;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #5893D4;
  color: #002060;
}

.dropdown:hover .dropbtn{
  background-color: #B7E0FF;
  color: #002060;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo-header {
  position: relative;
  height: 70px;
  width: 70px;
  background: url("https://2021.igem.org/wiki/images/a/a2/T--Greece_United--logo-small-transp-cropped.png");

  background-size: cover;
  padding-right: 7px;
}