#fixedOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 12;
  top: 18px;
  transition: 1s;
  font-family: "montserrat-light" !important;
}
#fixedOverlay .scroll-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  opacity: 1;
  transition: 0.5s;
}
#fixedOverlay .scroll-wrapper .scroll-area #sidebar-wrapper #scrollbar-container {
  width: 30%;
  height: 30%;
  background: rgba(98, 129, 239, 0.3);
  border-radius: 10px;
  max-width: 7px;
}
#fixedOverlay .scroll-wrapper .scroll-area #sidebar-wrapper #scrollbar-container #scrollbar {
  width: 100%;
  background: #002060;
  opacity: 100%;
  height: 0%;
  border-radius: 20px;
  transition: background-color 0.5s;
}
#fixedOverlay nav {
  height: fit-content;
}
#fixedOverlay nav[onText=true] {
  background-color: #FAFAFC;
  box-shadow: 0px 1px 7px #555;
}
#fixedOverlay nav[onText=true] #header .hamb-wrapper {
  background-color: transparent;
  box-shadow: none;
  height: unset;
  width: unset;
}
div[bg=dark] {
  background-color: rgba(0, 0, 0, 0.85);
}

div[bg=none] {
  background-color: none;
}

#fixedOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 12;
  top: 18px;
  transition: 1s;
  font-family: "montserrat-light" !important;
}
#fixedOverlay[bg=none], #fixedOverlay[bg=dark] {
  pointer-events: none;
}
#fixedOverlay[bg=none] #bubbles, #fixedOverlay[bg=dark] #bubbles {
  pointer-events: none;
}
#fixedOverlay .scroll-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  opacity: 1;
  transition: 0.5s;
}
#fixedOverlay .scroll-wrapper .scroll-area {
  height: 100%;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  #fixedOverlay .scroll-wrapper .scroll-area {
    width: 10vw;
  }
}
#fixedOverlay .scroll-wrapper .scroll-area#sidebar-wrapper #scrollbar-container {
  width: 30%;
  height: 30%;
  background: rgba(98, 129, 239, 0.3);
  border-radius: 10px;
  max-width: 7px;
}
#fixedOverlay .scroll-wrapper .scroll-area#sidebar-wrapper #scrollbar-container #scrollbar {
  width: 100%;
  background: #002060;
  opacity: 100%;
  height: 0%;
  border-radius: 20px;
  transition: background-color 0.5s;
}
#fixedOverlay .scroll-wrapper .scroll-area #backtotop-wrapper {
  width: 3vw;
  pointer-events: all;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s ease-out;
  max-width: 20px;
}
@media screen and (max-width: 767px) {
  #fixedOverlay .scroll-wrapper .scroll-area #backtotop-wrapper {
    width: 4vw;
  }
}
#fixedOverlay .scroll-wrapper .scroll-area #backtotop-wrapper.scrolled {
  opacity: 1;
}
#fixedOverlay .scroll-wrapper .scroll-area #backtotop-wrapper svg {
  width: 100%;
}
#fixedOverlay .scroll-wrapper .scroll-area #backtotop-wrapper svg path {
  transition: 0.5s;
}
#fixedOverlay .scroll-wrapper[hiddenScroll=true] {
  opacity: 0;
}
#fixedOverlay .scroll-wrapper[onBlue=true] .scroll-area#sidebar-wrapper #scrollbar-container {
  background: rgba(255, 255, 255, 0.2);
}
#fixedOverlay .scroll-wrapper[onBlue=true] .scroll-area#sidebar-wrapper #scrollbar-container #scrollbar {
  background: #FAFAFC;
}
#fixedOverlay .scroll-wrapper[onBlue=true] .scroll-area svg path {
  stroke: #FAFAFC !important;
}
#fixedOverlay nav {
  box-sizing: border-box;
  z-index: 2;
  pointer-events: none;
  display: block;
  transition: 0.5s;
  height: 87px;
}
#fixedOverlay nav #header {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}
#fixedOverlay nav #header object {
  width: 145px;
  pointer-events: none;
}
#fixedOverlay nav #header .active .menu-short {
  transform: translateX(30%) scaleX(0);
}
#fixedOverlay nav #header .active #top-hamb {
  transform: scale(0.7) translateY(17px) rotate(45deg);
}
#fixedOverlay nav #header .active #bottom-hamb {
  transform: scale(0.7) translateY(-11px) rotate(-45deg);
}
#fixedOverlay nav #header .hamb-wrapper {
  height: 50px;
  background-color: #002060;
  border-radius: 100px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 20px 0;
  box-shadow: 0px 0px 6px #999;
}
#fixedOverlay nav #header .hamb-wrapper .menu-wrapper {
  cursor: pointer;
  z-index: 11;
  box-sizing: border-box;
  width: 30px;
  pointer-events: all;
}
#fixedOverlay nav #header .hamb-wrapper .menu-wrapper .menu-hamb {
  height: 4px;
  border-radius: 5px;
  transition: 0.5s;
  background-color: #FAFAFC;
}
#fixedOverlay nav #header .hamb-wrapper .menu-wrapper .menu-short {
  width: 70%;
  margin-bottom: 6px;
  margin-top: 6px;
  transition: transform 0.1s;
  transition: background-color 0.5s;
}
#fixedOverlay nav #header .hamb-wrapper.white-menu {
  background-color: #FAFAFC;
}
#fixedOverlay nav #header .hamb-wrapper.white-menu .menu-hamb {
  background-color: #002060;
}
#fixedOverlay nav #header .hamb-wrapper.invisible {
  box-shadow: none;
  background-color: transparent;
}
#fixedOverlay nav #header #logo {
  transition: 0.5s;
  margin: 20px 0 20px 20px;
}
#fixedOverlay nav #header #logo a {
  pointer-events: all;
  display: block;
}
#fixedOverlay #bubbles-to-close {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
}
#fixedOverlay #bubbles-to-close[open=true] {
  display: initial;
  pointer-events: all;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
   #fixedOverlay #sidebar #sidebar-wrapper #indicateScroll h3 {
    font-size: 0.65em;
  }
  #fixedOverlay nav #header h1 {
    font-size: 18px;
  }
  #fixedOverlay nav #header .active #top-hamb {
    transform: scale(0.7) translateY(17px) rotate(45deg);
  }
  #fixedOverlay nav #header .active #bottom-hamb {
    transform: scale(0.7) translateY(-11px) rotate(-45deg);
  }
  #fixedOverlay nav #header .menu-wrapper .menu-hamb {
    height: 3px;
  }
  #fixedOverlay nav #header .menu-wrapper .menu-short {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
#fixedOverlay nav[onText=true] #header .hamb-wrapper .menu-wrapper .menu-hamb {
  background-color: #002060;
}
#fixedOverlay nav .header-part {
  margin: 0 10px;
}
#fixedOverlay nav #header .active #top-hamb {
  transform: scale(0.7) translateY(17px) rotate(45deg);
}
#fixedOverlay nav #header .active #bottom-hamb {
  transform: scale(0.7) translateY(-11px) rotate(-45deg);
}
#fixedOverlay nav #header .menu-wrapper .menu-hamb {
  height: 3px;
}
#fixedOverlay nav #header .menu-wrapper .menu-hamb.white-menu {
  background-color: #002060;
}
#fixedOverlay nav #header .menu-wrapper .menu-short {
  margin-bottom: 5px;
  margin-top: 5px;
}
#fixedOverlay #sidebar {
  width: 10vw;
}
#fixedOverlay #sidebar #sidebar-wrapper #indicateScroll h3 {
  font-size: 0.65em;
}

body, html {
    margin: 0;
    padding: 0;
    color: #222222;
    font-family: "lato-regular";
  }
  
  .contentBlock {
    max-width: 800px;
  }
  
  #HQ_page table, table {
    border: unset;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 64px;
  }
  #HQ_page table th, table th {
    text-align: start;
    background-color: rgba(98, 129, 239, 0.1);
  }
  #HQ_page table tr, table tr {
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
  }
  #HQ_page table tr:nth-child(2n), table tr:nth-child(2n) {
    background-color: rgba(187, 187, 187, 0.15);
  }
  #HQ_page table tr:nth-child(2n+1), table tr:nth-child(2n+1) {
    background-color: #FAFAFC;
  }
  #HQ_page table td, #HQ_page table th, table td, table th {
    border: unset;
    padding: 0.75rem 0.5rem;
  }
  #HQ_page table a, table a {
    color: #002060;
    text-decoration: none;
  }
  #HQ_page table a:hover, table a:hover {
    text-decoration: underline;
    color: #002060;
  }


body, html {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: "lato-regular";
}

.igem_column_wrapper > p {
  margin: 0;
}

main .content .content-paragraph,
main .content .reference,
#HQ_page main .content .content-paragraph,
#HQ_page main .content .reference {
  font-family: "lato-light";
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: left;
}
@media (max-width: 480px) {
  main .content .content-paragraph,
main .content .reference,
#HQ_page main .content .content-paragraph,
#HQ_page main .content .reference {
    font-size: 1rem;
  }
}
main .content .quote,
#HQ_page main .content .quote {
  padding: 20px;
  box-shadow: 0 0 10px lightgray;
  margin: 40px;
}
main .content .quote p,
main .content .quote p.content-paragraph,
#HQ_page main .content .quote p,
#HQ_page main .content .quote p.content-paragraph {
  text-align: center;
  font-size: 0.8em;
}
main .content .quote p.content-paragraph,
#HQ_page main .content .quote p.content-paragraph {
  font-style: italic;
}
main .content .quote .beforeWave::before,
#HQ_page main .content .quote .beforeWave::before {
  margin: 0 auto 5px;
}
main .content .reference,
#HQ_page main .content .reference {
  word-break: break-word;
}
main .content .h3,
#HQ_page main .content .h3 {
  font-size: 2rem;
}


main {
  font-size: initial;
}

div.h1,
div.h2,
div.h3,
div.h4,
div.h5,
div.h6 {
  font-family: "montserrat-bold";
  font-weight: 800;
  margin-bottom: 0.4em;
  margin-top: 1rem;
}
div.h1.larger,
div.h2.larger,
div.h3.larger,
div.h4.larger,
div.h5.larger,
div.h6.larger {
  font-size: 2.5rem;
}


main {
  margin-top: -5px;
  width: 100%;
  background-color: #FAFAFC;
  z-index: 10;
  position: relative;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
main::after {
  content: "";
  clear: both;
  display: table;
}
@media (max-width: 800px) {
  main {
    justify-content: center;
  }
}

.indexbutton {
  display: none;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 16px 0;
  height: 62px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #002060;
  z-index: 21;
  transition: 0.5s;
}
@media (max-width: 800px) {
  .indexbutton {
    display: block;
  }
}

table, #HQ_page table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 8px;
}
#HQ_page table th, table th, #HQ_page table td, table td, #HQ_page #HQ_page table th, #HQ_page table th, #HQ_page #HQ_page table td, #HQ_page table td {
  padding: 6px 8px;
  border: 1px solid #121212;
  background-color: #FAFAFC;
}
#HQ_page table th, table th, #HQ_page #HQ_page table th, #HQ_page table th {
  background-color: #e0e0e0;
}

.sideBlock {
  text-transform: uppercase;
  float: left;
  margin-left: 10vw;
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  margin: 200px 32px 0 4vw;
  transform: translateY(-50%);
  min-width: 20px;
  max-width: 350px;
}
@media (max-width: 1024px) {
  .sideBlock {
    margin: 200px 32px 0 4vw;
  }
}
.sideBlock b {
  font-family: "montserrat-bold";
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 0.25em;
  display: block;
}
.sideBlock ul {
  margin: 1em 0;
  padding: 0;
}
.sideBlock a {
  color: #002060;
  text-decoration: none;
  font-family: "lato-light", sans-serif;
}
.sideBlock li {
  margin: 24px;
  list-style: none;
  color: #3658cf;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 0.25em;
}
.sideBlock li:last-child {
  margin-bottom: 0;
}
.sideBlock li div {
  max-width: 15px;
  max-height: 15px;
  box-sizing: border-box;
  border: 1px solid;
  color: #3658cf;
  border-radius: 2px;
  transition: 0.5s;
  margin-right: 8px;
  height: 10vw;
  width: 10vh;
}
.sideBlock li.active div {
  background-color: #3658cf;
}
@media (max-width: 800px) {
  .sideBlock {
    position: fixed;
    bottom: 0;
    padding: 0 64px;
    background-color: #002060;
    color: #FAFAFC;
    float: unset;
    margin: 0;
    z-index: 20;
    width: 100%;
    box-sizing: border-box;
    min-width: unset;
    max-width: unset;
    text-align: center;
    transition: transform 0.5s;
    top: unset;
    transform: translateY(calc(100% - 62px));
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sideBlock b {
    display: block;
    margin: 0;
  }
  .sideBlock ul {
    display: inline-block;
    text-align: start;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .sideBlock li {
    font-weight: bold;
  }
  .sideBlock li a {
    color: #FAFAFC;
  }
  .sideBlock li div {
    color: #FAFAFC;
  }
  .sideBlock li.active div {
    background-color: #FAFAFC;
  }
  .sideBlock.notshow {
    transform: translateY(calc(100% - 0px));
  }
  .sideBlock.open {
    transform: translateY(0);
  }
}

.contentBlock {
  width: 800vw;
  max-width: 700px;
  float: right;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .contentBlock {
    margin-right: 5vw;
  }
}
@media (max-width: 800px) {
  .contentBlock {
    margin-right: unset;
    width: 90%;
    box-sizing: border-box;
    max-width: 650px;
  }
}

.content {
  padding: 64px;
  border-radius: 5px;
  box-shadow: 0 0 10px lightgray;
  color: #121212;
  margin-top: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "lato-light";
}
@media (max-width: 800px) {
  .content {
    margin: 0 auto;
    box-shadow: unset;
    padding: 35px;
    width: 100%;
    box-sizing: border-box;
  }
}
@media (max-width: 400px) {
  .content {
    padding: 20px;
  }
}
.content p:first-child {
  margin-top: 0;
}
.content ul,
.content ol {
  font-family: "lato-light", sans-serif;
}
.content ul {
  padding-inline-start: 20px;
  list-style-image: none;
  list-style-type: none;
}
.content ul li {
  display: flex;
}
.content ul li::before {
  content: "•";
  color: #002060;
}
.content .splide ul li::before {
  content: unset;
}
.content li {
  margin: 10px;
}
.content li::marker {
  color: #002060;
  font-family: "lato-heavy";
  font-size: 1.3em;
}
.content h4,
.content h5 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-block-end: 0.2em;
  margin-block-start: 60px;
}
.content h5 {
  font-size: 1em;
}
.content a {
  color: #002060;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.content a.citation {
  font-size: 0.6em;
  vertical-align: super;
}
.content a button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "lato-semibold", sans-serif;
  color: #FAFAFC;
  padding: 32px 56px;
  font-size: 1.2rem;
  max-width: 7;
  text-align: center;
  border-radius: 1000px;
  margin: 40px auto;
  transition: 0.3s ease-out;
  background-color: #002060;
  box-shadow: 0 16px 32px -12px #3658cf;
  border: none;
  position: relative;
  top: 0;
  font-variant-position: normal;
  cursor: pointer;
  text-transform: uppercase;
}



#sideMenu,
#top_title,
.patrollink,
#firstHeading,
#home_logo,
#sideMenu {
	display: none;
}

#content {
	padding: 0px;
	width: 100%;
	margin-top: -7px;
	margin-left: 0px;
	border: none;
	line-height: initial;
}

body,
html {
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0px;
}

#bodyContent h1,
#bodyContent h2,
#bodyContent h3,
#bodyContent h4,
#bodyContent h5 {
	margin-bottom: 0px;
}

#bodyContent a[href ^="https://"],
.link-https {
	padding-right: 0px;
}

#globalWrapper {
	padding: 0px;
}

a {
	color: initial;
}

#top_title {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: unset;
	font-weight: unset;
	overflow: unset;
	padding-top: unset;
	padding-bottom: unset
}

ol {
	line-height: unset
}

#HQ_page h1,
h2,
h3,
h4,
h5,
h {
	font-family: unset;
	font-weight: unset;
}
#HQ_page p{
font-size: unset;
font-family: unset;
text-align: unset;
margin: 0;
}

#content H1 {
	font-weight: unset
}

#bodyContent h1,
#bodyContent h2 {
	margin-bottom: unset
}

p br {
	display: unset
}
li{
margin-bottom: unset !important;
}