html, body{
    height:100%;
    padding:0px;
    margin:0px;

    font-family: 'Lato', sans-serif;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
/* -------------- NAVBAR ------------ */
.navbar {
  display: flex;
  flex-wrap: wrap;
  /* overflow: hidden;  */
  background-color:#0B3648;/*#0E828A/* #333; /* Dark background color */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.right-navbar {
  align-self:flex-end;
  /* overflow: hidden;  */
  margin-left: auto;
  margin-right: 15px;
}

/* Style the navigation bar links */
.right-navbar a {
  float: right; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  font-size: 1.2em;
  /* overflow: hidden; */
}

#nav {
  display: flex;
  flex-direction: row;
  list-style: none inside;
  margin: 0;
  padding: 0;
}

#nav li {
  display: block;
}

#nav li li a {
  font-size: 90%;
}

#nav ul {
  padding: 0;
  display: none;

}

#nav li:hover ul {
  display: block;
}

.right-navbar a:hover, .dropdown:hover{
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

/* responsive/collapsible nav bar */
.right-navbar .icon {
  display: none;
}

.nav-bar-logo {
  padding: 14px 20px; /* Add some padding */
  display: flex;
}

.nav-bar-logo a{
  font-weight: 400;
  font-size: 1.4em;
  color: white; /* White text color */
  text-decoration: none; /* Remove underline */
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 1.2em;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  z-index: 10;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropbtn{
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo-header {
  position: relative;
  height: 25px;
  width: 25px;
  background: url("../images/black_logo_transparent.png");
  background-size: cover;
  margin: 0 5px;
}

.logo-footer {
  position: relative;
  height: 70px;
  width: 90px;
  background: url("../images/black_logo_transparent.png");
  background-size: cover;
  padding-bottom: 120px;
  padding-right: 80px;
  margin-bottom: 45px;
}


/* ------------FOOTER-------------*/
footer {
  background: #0B3648; /* Grey background */
  padding:40px 0;
  color: white;
  height: 300px;
  width: 100%;
  position:relative;
}

.footer-content{
  max-width: 1170px;
  margin:auto;
  height:250px;
  display:flex;
}

.footer-section{
  flex:1;
  padding:25px;
}

.footer-section .about h4{
  color:white;
}

.row{
  display:flex;
  flex-wrap:wrap;
}

.col{
  width:30%;
  padding: 0 15px;
}

.col h4{
  font-size:18px;
  color:#ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position:relative;
}

.col h4::before{
  content:'';
  position:absolute;
  left:0;
  bottom:-10px;
  background-color:rgb(199, 169, 190);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-about{
  color: #bbbbbb;
  width:70%;
}

ul{
  list-style: none;
}

.col ul li:not(:last-child){
  margin-bottom: 10px;
}

.col ul li span{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration:none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}

.social-links a{
  display: inline-block;
  height:40px;
  width:40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align:center;
  line-height:40px;
  border-radius: 50%;
  color:#ffffff;
  transition: all 0.5s ease;
}

.social-links .nous a{
  padding-top: 10px;
}

.social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

.social-links .fb a:hover{
  color: #a53b28;
  background-color: #ffffff;
}

.footer-section .contact-info{
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.footer-section .nous{
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}


.footer-links{
  color: #bbbbbb;
  text-decoration:none;
}

.footer-links:hover{
  color: #ffffff;
}


/*--responsive--*/
@media(max-width:767px){
  .col{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width:574px){
  .col{
    width: 100%;
  }
}

/*---------FOOTER END------------*/
  
.after-nav{
  margin-top: 90px;
}

#page-view {
  width: 100%;
  height: 60vh;
  /* TODO : change picture */
  background-image: url("../images/parkinson_cropped2.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#title{
  color: white;
  font-size: 4em;
  align-self: center;
  text-shadow: 6px 6px 15px #fff;
}

#home-title{
  color: white;
  font-size: 5em;
  align-self: center;
  text-align: center;
}

.section-title{
  /* align-self: center; */
  padding-top: 60px;
  justify-content: center;
  font-size: 3em;
}

/* .home-content{
  max-width: 1000px;
  padding-left: 100px;
} */

strong {
  font-size: 1.2em; 
}


button:hover {
  opacity:0.7;
}

/* style buttons*/
button {
  border:0;
  background:#0B3648;
  color: #fff;
  padding: 12px 50px;
  cursor: pointer;
  transition:0.5s;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}

/***********************/
/*** CROSSWORD START ***/
/***********************/

.cross-section{
  margin-bottom: 660px;
  margin-left: 470px;
}

tr {
	border-collapse: collapse;
}

td {
	height: 30px;
	width: 30px;
}

.cross-button{
	height:50px;
	width: 156px;

  background:#0B3648;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  transition:0.5s;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#crossword{
	text-align: center;
	padding: 50px;
	border-collapse: collapse;
	border: 0.3px solid #0b3648b0;
  border-radius: 6px;
}

.inputCell{
		width: 40px;
		height:40px;
		border: 0.3px solid black;
		text-align: center;
    border-radius: 6px;
}

#hintsTable{
	width: 650px;
	float: left;
	clear: left;
}

/*********************/
/*** CROSSWORD END ***/
/*********************/

.row-imgs {
  padding-left: 0;
  margin-left: 170px;
  list-style: none;
}

.row-imgs > li {
  display: inline-block;
  padding-right: 90px;
  padding-left: 90px;
}

figcaption {
  padding: 2px;
  text-align: center;

  margin-top: 10px;
  margin-bottom: 40px;

  font-weight: 1000;
  transition: transform .4s;
}

.img-games{
  margin-top: 20px;

  border-radius: 1%;
  height: 170px;
  border: 3px solid rgba(0, 0, 0, 0.527);
}

.img-games-container{
  transition: transform .4s;
}

.img-games-container:hover {
  transform: scale(1.1); 
  background-color: #0b364865;
}

.games-name:visited, .games-name:link{
  text-decoration: none;
  color: black;
}


/*********************/
/*** HANGMAN START ***/
/*********************/

.hangman {
  background:#0b3648b0;
  color:white;
  height:100%;
  text-align:center;
  margin-top: -16px;
  padding-top: 50px;
}

.wrappper {
  width:100%;
  margin:0 auto;
}

canvas {
  color:white;
  border: white dashed 2px;
  padding:15px;
}

#alphabet {
  margin:15px auto;
  padding:0;
  max-width:700px;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width: 40px;
  height: 30px;
  padding-top:10px;
  background:white;
  color:black;
  cursor:pointer;
  border: solid 1px white; 
  border-radius: 10%;
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

.active {
  cursor:default;
}

#mylives{
  font-size:1.6em;
  text-align:center;
  display:block;
}


/*********************/
/**** HANGMAN END ****/
/*********************/